<header class="header">
  <div class="header-left">
     <div class="header-logo">
       <img src="/assets/Frame.svg" alt="логотип сайта">
     </div>
     <nav class="header-nav">
       <div class="header-nav-item">Главная</div>
       <div class="header-nav-item">О компании</div>
       <div class="header-nav-item">Каталог</div>
     </nav> 
   </div>
   <div class="header-right"> 
     <img class="icon" src="/assets/Phone.svg" alt=""/>
     <div class="header-right-item">+7 (965) 084-29-29</div>
     <div class="header-right-item"><img src="/assets/heart1.svg" alt="" /></div> 
     <button  class="header-right-item header-right basket">
       <img class="icon" src="/assets/Mask group.svg" alt=""/>
       <span class="basket-text">Пусто</span>
     </button>
   </div>
  </header>   
 
 <div class="menu">
   <div class="menu-left">
     <div class="menu-logo2">
       <img src="/assets/light.svg" alt="икона коталога"> 
     </div>
     <nav class="menu-nav">
       <div class="menu-nav-item">Каталог</div>
       <div class="menu-nav-item">Стройматериалы</div>
       <div class="menu-nav-item">Инструменты</div>
       <div class="menu-nav-item">Электрика</div>
       <div class="menu-nav-item">Интерьер и одежда</div>
     </nav>
   </div>   
   <div class="menu-right"> 
     <form class="sea">
      <input class="search" type="search" placeholder="Поиск, например Круг зачистной">
      <img class="lup" src="/assets/search.svg" alt="">
    </form>
    <div class="moskwa">
     <img class="" src="/assets/map-pin (2) 1.svg" alt=""/>
     <div class="menu-right">Москва</div> 
   </div>
  </div>
 </div>
     <div class="Men-baner">
       <img class="Men" src="/assets/Rectangle 5.svg" alt="backgraund-large">
     </div>
 
     <div class="advantages">
       <div class="item-advantages">
         <img class="img-item-advantages" src="/assets/Mask_group.png" alt="Большой ассортимент"/>
         <div class="item-advantages-text">
           <span class="verh-text">Большой ассортимент</span>
           <span class="niz-text">строительных материалов всегда в наличии</span>
         </div>
       </div>
       <div class="item-advantages"> 
         <img class="img-item-advantages" src="/assets/Mask group (1).png" alt="Достовка сторойматериалов">
         <div class="item-advantages-text">
           <span class="verh-text">Доставка сторойматериалов</span>
           <span class="niz-text">в течении четырех часов или в любое удобное время</span>
          </div>
        </div>
        <div class="item-advantages">
         <img class="img-item-advantages" src="/assets/Mask group (2).png" alt="Многоуровневая сиситема управления"/>
        <div class="item-advantages-text">
         <span class="verh-text">Многоуровневая сиситема управления</span>
         <span class="niz-text">качеством по стандарту ISO 9001</span>
       </div>
       </div>
     </div>
   
   <div class="content-container">
     <div class="item-cards">
       <div class="item-cards__pagination">
       <button class="item-cards__pagination-button active-button">1</button>
       <button class="item-cards__pagination-button">2</button>
       <button class="item-cards__pagination-button">3</button>
       <button class="item-cards__pagination-button">4</button>
       <button class="item-cards__pagination-button">5</button>
     </div>
     <div class="item-cards__grid">
       <div class="item-cards__grid-left">
        <div class="item-cards__grid-left-text">
          Строительный отделочный инструмент
        </div>
        <div class="item-cards__grid-left-action">
           <span class="text-span"> Перейти в каталог</span>
           <a class="item-cards__grid-left-action-link">
           <img src="/assets/Frame_20.svg" alt="">
          </a>
       </div>
     </div>
      <div class="item-cards__grid-right">
       <div class="item_cards__grid-right-block-1">
         <div class="item_cards__grid-right-block-text-1">
           Эмали
          </div>
         <div class="item_cards__grid-right-block-action-1">
           <span class="text-span"> Перейти в каталог</span>
           <a class="item-cards__grid-left-action-link-1">
           <img src="/assets/Frame_20.svg" alt="">
          </a>
          </div>
       </div>
        <div class="item_cards__grid-right-block-2">
         <div class="item_cards__grid-right-block-text-2">
           Лакокрасочные материалы
         </div>
         <div class="item_cards__grid-right-block-action-2">
           <span class="text-span"> Перейти в каталог</span>
           <a class="item-cards__grid-left-action-link-2">
             <img src="/assets/Frame_20.svg" alt="">
           </a>
         </div>
         </div>
         <div class="item_cards__grid-right-block-3">
           <div class="item_cards__grid-right-block-text-3">
             Пены, клеи и герметики
           </div>
           <div class="item_cards__grid-right-block-action-3">
             <span class="text-span"> Перейти в каталог</span>
             <a class="item-cards__grid-left-action-link-3">
               <img src="/assets/Frame_20.svg" alt="">
             </a>
           </div>
           </div>
        <div class="item_cards__grid-right-block">
         <div class="item_cards__grid-right-block-4">
           <div class="item_cards__grid-right-block-text-4">
             Розетки и выключатели
            </div>
           <div class="item_cards__grid-right-block-action-4">
             <span class="text-span"> Перейти в каталог</span>
             <a class="item-cards__grid-left-action-link-4">
             <img src="/assets/Frame_20.svg" alt="">
            </a>
           </div>
         </div>
        </div>
      </div>
    </div>
   </div>
 </div>
 
 
 <div class="content-container-2">
   <div class="products">
     <span class="products-item__cards-left">Популярные товары</span>
     <a class="products-item__cards-right" href="">Посмотреть все товары</a>
   </div>
 
   <div class="products-item__cards">
     <div class="products-item__cards-block">
       <div class="products-item__cards-block-circle">
         <div class="products-item__cards-block-circle-heart">
         <img src="/assets/Frame_100.png" alt="Frame 100">
         <img src="/assets/heart_1.png" alt=" heart_1">
         </div>
       </div>
       <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
       <div class="products-item__cards-block-text-2">Артикул 00004т</div>
       <div class="price">
         <div class="price-text">Цена за штуку</div>  
         <div class="price-number">
           <div class="price-1">52 руб.</div>
           <div class="price-2">48 руб. </div>
         </div>
       </div>
       <div class="quantity-selektor">
         <div class="selektor">
           <span class="selektor-text">Количество</span>
           <div class="quantity-plus__minus-1">
             <button class="quantity-plus__minus-">-</button>
             <span class="quantity-1">1</span>
             <button class="quantity-plus__minus">+</button>
           </div>
         </div>
         <button class="basket-cart">В корзину
           <div class="basket-cart-text"></div>
         </button>
       </div>
     </div>
 
 
     <div class="products-item__cards-block">
       <div class="products-item__cards-block-circle">
         <div class="products-item__cards-block-circle-heart">
         <img src="/assets/Frame_100.png" alt="Frame 100">
         <img src="/assets/heart_1.png" alt=" heart_1">
         </div>
       </div>
       <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
       <div class="products-item__cards-block-text-2">Артикул 00004т</div>
       <div class="price">
         <div class="price-text">Цена за штуку</div>  
         <div class="price-number">
           <div class="price-1">52 руб.</div>
           <div class="price-2">48 руб. </div>
         </div>
       </div>
       <div class="quantity-selektor">
         <div class="selektor">
           <span class="selektor-text">Количество</span>
           <div class="quantity-plus__minus-1">
             <button class="quantity-plus__minus-">-</button>
             <span class="quantity-1">1</span>
             <button class="quantity-plus__minus">+</button>
           </div>
         </div>
         <button class="basket-cart">В корзину
           <div class="basket-cart-text"></div>
         </button>
       </div>
     </div>
 
 
     <div class="products-item__cards-block">
       <div class="products-item__cards-block-circle">
         <div class="products-item__cards-block-circle-heart__block-3">
           <img class="products-item__cards-block-circle-frame_new" style="padding-bottom: 15px;" src="/assets/Frame 100.png" alt="Frame 100">
           <img src="/assets/Frame_100.png" alt="">
         </div>
         <div><img src="/assets/heart_1.png" alt=" heart_1"></div>
       </div>
       <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
       <div class="products-item__cards-block-text-2">Артикул 00004т</div>
       <div class="price">
         <div class="price-text">Цена за штуку</div>  
         <div class="price-number">
           <div class="price-1">52 руб.</div>
           <div class="price-2">48 руб. </div>
         </div>
       </div>
       <div class="quantity-selektor">
         <div class="selektor">
           <span class="selektor-text">Количество</span>
           <div class="quantity-plus__minus-1">
             <button class="quantity-plus__minus-">-</button>
             <span class="quantity-1">1</span>
             <button class="quantity-plus__minus">+</button>
           </div>
         </div>
         <button class="basket-cart">В корзину
           <div class="basket-cart-text"></div>
         </button>
       </div>
     </div>
 
 
     <div class="products-item__cards-block">
       <div class="products-item__cards-block-circle">
         <div class="products-item__cards-block-circle-heart">
         <img class="products-item__cards-block-circle-frame_new"src="/assets/Frame 100.png" alt="Frame 100">
         <img src="/assets/heart_1.png" alt=" heart_1">
         </div>
       </div>
       <div class="products-item__cards-block-text-1">Круг зачистной 125х6х22</div>
       <div class="products-item__cards-block-text-2">Артикул 00004т</div>
       <div class="price">
         <div class="price-text">Цена за штуку</div>  
         <div class="price-number">
           <div class="price-1__block-4">52 руб.</div>
         </div>
       </div>
       <div class="quantity-selektor">
         <div class="selektor">
           <span class="selektor-text">Количество</span>
           <div class="quantity-plus__minus-1">
             <button class="quantity-plus__minus-">-</button>
             <span class="quantity-1">1</span>
             <button class="quantity-plus__minus">+</button>
           </div>
         </div>
         <button class="basket-cart">В корзину
           <div class="basket-cart-text"></div>
         </button>
       </div>
     </div>
    </div>
  </div>
 <div class="products-banner">
   <div class="products-banner-left">
     <div class="products-banner-left_text">Более 10 000 наименований</div>
     <div class="products-banner-left_text-niz">Инструмент для вашего бизнеса, разнообразных марок</div>
     <a class="catalog" href="">Перейти в каталог</a>
   </div>
     <div class="products-banner-right">
      <img src="/assets/men_1.png" alt="Men-2">
    </div>
 </div>
 
 <div class="content-container-3">
    <div class="products-2">
      <span class="products-item__cards-left-2">Новинки</span>
      <a class="products-item__cards-right-2" href="">Посмотреть все товары</a>
    </div>
   
    <div class="products-cards">
     <div class="products-cards__block">
       <div class="products-cards__block-circle">
         <div class="products-cards__block-circle-heart">
           <img src="/assets/Frame 100.png" alt="Frame 100">
           <img src="/assets/heart_1.png" alt=" heart_1">
         </div>
       </div>
        <div class="products-cards-block-text-1">Круг зачистной 125х6х22</div>
        <div class="products-cards-block-text-2">Артикул 00004</div>
        <div class="price__1">
         <div class="price-text-1">Цена за штуку</div>
         <div class="price-number-1">
           <div class="price-block">52 руб.</div>
         </div>
        </div>
        <div class="quantity-selektor">
         <div class="selektor">
           <span class="selektor-text">Количество</span>
           <div class="quantity-plus__minus-1">
             <button class="quantity-plus__minus-">-</button>
             <span class="quantity-1">1</span>
             <button class="quantity-plus__minus">+</button>
           </div>
         </div>
         <button class="basket-cart">В корзину
           <div class="basket-cart-text"></div>
         </button>
       </div>
     </div>
 
 
     <div class="products-cards__block">
       <div class="products-cards__block-circle">
         <div class="products-cards__block-circle-heart">
           <img src="/assets/Frame 100.png" alt="Frame 100">
           <img src="/assets/heart_1.png" alt=" heart_1">
         </div>
       </div>
        <div class="products-cards-block-text-1">Круг зачистной 125х6х22</div>
        <div class="products-cards-block-text-2">Артикул 00004</div>
        <div class="price__1">
         <div class="price-text-1">Цена за штуку</div>
         <div class="price-number-1">
           <div class="price-block">52 руб.</div>
         </div>
        </div>
        <div class="quantity-selektor">
         <div class="selektor">
           <span class="selektor-text">Количество</span>
           <div class="quantity-plus__minus-1">
             <button class="quantity-plus__minus-">-</button>
             <span class="quantity-1">1</span>
             <button class="quantity-plus__minus">+</button>
           </div>
         </div>
         <button class="basket-cart">В корзину
           <div class="basket-cart-text"></div>
         </button>
       </div>
     </div>
     <div class="products-cards__block">
       <div class="products-cards__block-circle">
         <div class="products-cards__block-circle-heart">
           <img src="/assets/Frame 100.png" alt="Frame 100">
           <img src="/assets/heart_1.png" alt=" heart_1">
         </div>
       </div>
        <div class="products-cards-block-text-1">Круг зачистной 125х6х22</div>
        <div class="products-cards-block-text-2">Артикул 00004</div>
        <div class="price__1">
         <div class="price-text-1">Цена за штуку</div>
         <div class="price-number-1">
           <div class="price-block">52 руб.</div>
         </div>
        </div>
        <div class="quantity-selektor">
         <div class="selektor">
           <span class="selektor-text">Количество</span>
           <div class="quantity-plus__minus-1">
             <button class="quantity-plus__minus-">-</button>
             <span class="quantity-1">1</span>
             <button class="quantity-plus__minus">+</button>
           </div>
         </div>
         <button class="basket-cart">В корзину
           <div class="basket-cart-text"></div>
         </button>
       </div>
     </div>
     <div class="products-cards__block">
       <div class="products-cards__block-circle">
         <div class="products-cards__block-circle-heart">
           <img src="/assets/Frame 100.png" alt="Frame 100">
           <img src="/assets/heart_1.png" alt=" heart_1">
         </div>
       </div>
        <div class="products-cards-block-text-1">Круг зачистной 125х6х22</div>
        <div class="products-cards-block-text-2">Артикул 00004</div>
        <div class="price__1">
         <div class="price-text-1">Цена за штуку</div>
         <div class="price-number-1">
           <div class="price-block">52 руб.</div>
         </div>
        </div>
        <div class="quantity-selektor">
         <div class="selektor">
           <span class="selektor-text">Количество</span>
           <div class="quantity-plus__minus-1">
             <button class="quantity-plus__minus-">-</button>
             <span class="quantity-1">1</span>
             <button class="quantity-plus__minus">+</button>
           </div>
         </div>
         <button class="basket-cart">В корзину
           <div class="basket-cart-text"></div>
         </button>
       </div>
     </div>
   </div>
 </div>
 
 <div class="footer">
   <div class="container-4">
     <div class="footer-top">
       <div class="footer-top-left">
         <div class="footer-top-left-logo">
           <img class="footer-top-left-logo-img" src="/assets/Frame.svg" alt="logo">
         </div>
       
         <div class="footer-info">
         <div class="footer-phone">
           <img src="/assets/call_calling.png" alt="phone">
         </div>
         <div class="footer-contacts">
           <div class="footer-contacts-text">Контактный телефон</div>
           <a href="tel:+78123090934" class="contacts-number-1">+ 7 (812) 309-09-34</a>
           <a href="tel:+79650842929" class="contacts-number-2">+ 7 (965) 084-29-29</a>
         </div>
         <div class="footer-mail-info">
           <div class="footer-mail">
             <img src="/assets/Icon__2.png" alt="mail">
           </div>
           <div class="footer-mail-text">
             <div class="footer-mail-text-1">Электронная почта</div>
             <a href="mailto:tustin78@mail.ru" class="footer-mail-text-2">
               <div class="m-1">tustin78&#64;mail.ru</div>
             </a>
             <a href="mailto:info@tustin.ru" class="footer-mail-text-3">
               <div class="m-2">info&#64;tustin.ru</div>
             </a>
           </div>
         </div>
        </div>
       </div>
       <div class="footer-top-right">
         <div class="question-block">
           <div class="quantity-block-title">
             <div class="quantity-block-title-text-1">Остались вопросы?</div>
             <div class="quantity-block-title-text-2">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</div>
           </div>
         </div>
         <div class="poisck">
          <div class="search-form">
           <div class="conwert-mail">
             <img style="height: 16px; width: 16px;" src="/assets/Icon__2.png" alt="mail">
           </div>
           <input class="input-search" type="text" placeholder="Введите свою почту">
           <button type="submit">Отправить</button>
          </div>
         </div>
       </div>
     </div>
    <div class="footer-bottom">
       <div class="footer-bottom-block-menu">
         <div class="footer-bottom-block-menu-item">Главная</div>
         <div class="footer-bottom-block-menu-item">О компании</div>
         <div class="footer-bottom-block-menu-item">Каталог</div>
       </div>
       <div class="bottom-bar">
         <div class="bottom-bar-left">
           <img src="/assets/Mini Button.svg" alt="f">
           <img src="/assets/youtube.svg" alt="u">
           <img src="/assets/Social_Icons.svg" alt="w">
         </div>
         <div class="bottom-bar-right">© 2021-2022, EDE</div>              
       </div>
    </div>
   </div>